<div class="edition">
  <form action="/restaurants/{{ restaurant._id }}/edit" method="POST">
    <div class="editRestaurant">
      <input type="text" placeholder="餐廳名稱(必填)" name="name" value="{{ restaurant.name }}" required>
      <input type="text" placeholder="餐廳英文名稱" name="name_en" value="{{ restaurant.name_en }}">
      <input type="text" placeholder="餐廳分類" name="category" value="{{ restaurant.category }}">
      <input type="text" placeholder="餐廳圖片(網址)" name="image" value="{{ restaurant.image }}">
      <input type="text" placeholder="餐廳地址" name="location" value="{{ restaurant.location }}" required>
      <input type="text" placeholder="餐廳電話" name="phone" value="{{ restaurant.phone }}">
      <input type="text" placeholder="餐廳google地圖" name="google_map" value="{{ restaurant.google_map }}">
      <input type="text" placeholder="餐廳評分" name="rating" value="{{ restaurant.rating }}">
      <input type="text" placeholder="餐廳簡介" name="description" value="{{ restaurant.description }}">
      <button type="submit">確認修改</button>
    </div>
  </form>
</div>